## Randomforest 실습

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [6]:
data = pd.read_csv("./data/otto_train.csv")

In [9]:
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

- id : 고유 번호
- feat_1 ~ feat_93 : 설명변수
- target : 타겟변수 (1 ~ 9)

In [5]:
data.target.unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

In [11]:
display(data.shape)

(61878, 95)

In [12]:
data = data.drop(['id'], axis=1)

In [14]:
data.head(1)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1

In [15]:
mapping_dict = {"Class_1": 1,
                "Class_2": 2,
                "Class_3": 3,
                "Class_4": 4,
                "Class_5": 5,
                "Class_6": 6,
                "Class_7": 7,
                "Class_8": 8,
                "Class_9": 9}
after_mapping_target = data['target'].apply(lambda x: mapping_dict[x])

### 설명변수와 타겟변수를 분리, 학습데이터와 평가데이터 분리

In [19]:
feature_columns = list(data.columns.difference(['target'])) # target을 제외한 나머지 컬럼 저장
X = data[feature_columns]
y = after_mapping_target
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=42)
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(49502, 93) (12376, 93) (49502,) (12376,)

### 학습 데이터를 랜덤포레스트 모형에 적합 후 평가 데이터로 검증
- 검증 시 hyperparameter 조정 (n_estimators: 학습 모델 수, max_depth: 모델 깊이)

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [25]:
random_forest_model1 = RandomForestClassifier(n_estimators=20, max_depth=5, random_state=42)
model = random_forest_model1.fit(train_x, train_y)
predict1 = model.predict(test_x)
print("Accuracy: {:.2f}%".format(100 * accuracy_score(test_y, predict1)))

Accuracy: 60.16%

In [26]:
random_forest_model1 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model = random_forest_model1.fit(train_x, train_y)
predict1 = model.predict(test_x)
print("Accuracy: {:.2f}%".format(100 * accuracy_score(test_y, predict1)))

Accuracy: 62.44%

In [27]:
random_forest_model1 = RandomForestClassifier(n_estimators=20, max_depth=50, random_state=42)
model = random_forest_model1.fit(train_x, train_y)
predict1 = model.predict(test_x)
print("Accuracy: {:.2f}%".format(100 * accuracy_score(test_y, predict1)))

Accuracy: 79.98%

In [28]:
random_forest_model1 = RandomForestClassifier(n_estimators=100, max_depth=50, random_state=42)
model = random_forest_model1.fit(train_x, train_y)
predict1 = model.predict(test_x)
print("Accuracy: {:.2f}%".format(100 * accuracy_score(test_y, predict1)))

Accuracy: 81.12%

## 다른 하이퍼파라미터에 대한 정보를 얻고싶으면 링크를 참조
[RandomForestClassifier parameters 본문](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)